*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

body,p{
    font-family: Helvetica, sans-serif ;
}

p{
    line-height: 1.5rem;
    padding: 2rem 0rem;
    font-weight: 700;
    line-height: 1.5rem;
    font-size: 1.2rem;
}

a{
    text-decoration: none;
    color: #fff;
}

h2{
    font-size: 2.5rem;
}

h3{
    font-size: 1.6rem;
}

/* VARIABILI */
:root{
    --bg-purple:#8EA1E1;
    --bg-white: #fff;
    --bg-dark: #23272A;
}

/* UTILITY CLASS */
.d-flex{
    display: flex;
}

.bt-dark{
    color: #fff;
    background-color: var(--bg-dark);
}

.bt.bt-white{
    background-color: var(--bg-white);
}

.bt.bt-little{
    font-size: 0.9rem;
    padding: 5px 10px;
}

.bt.bt-purple{
    color: #fff;
    background-color: var(--bg-purple);

}

.reverse{
    flex-direction: row-reverse;
}


/* UNIQUE CLASS */
.bt{
    padding: 15px 30px;
    font-size: 1.2rem ;
    border: none;
    border-radius: 25px;
}

.contain-x-center{
    padding: 6rem 0rem;
    margin: auto;
    max-width: 1300px;
    border: 1px dashed black;
}


/* MIRATED CLASS */
.bg-jumbotron{
    background-size: cover;
    background-position: middle;
    background-image: url(../img/jumbo.png);
}

.contain-x-center.head{
    padding: 0
}


.contain-nav{
    align-items: center;
    flex-grow:1;
    justify-content: center;

}

.contain-nav ul{
    gap: 2rem;

}

.contain-nav ul li a,.logo,.login{
    display: block;
}

.contain-nav ul li{
    list-style: none; 
}

.menu{
    font-weight: bold;
    padding-top: 2rem;
    align-items: center
}

/* intro */

.container-intro{
    align-content: center;
    justify-content: center;
}

.content-intro{
    padding: 2rem 8rem;
    max-width: 90%;
}


.content-intro h1{
    font-size: 3.5rem;
    color: #fff;
    text-align: center;
}

.content-intro p{
    color: #fff;
    text-align: center;
}

.contain-bt{
    gap: 2rem;
    padding-top: 1rem;
    justify-content: center;
}
/* inizio MAIN */
.section{
    justify-content: space-between;
}

.left-item img{
    min-width: 100%;
}

.right-item{
    padding-top:2rem;
    max-width: 25%;
}

/* inizio last-item */

.contain-last-item{
    text-align: center;
}

.contain-last-item>div{
    padding: 0 5rem;
}

.img-last-item img{
    min-width: 100%
}

.contain-last-item  div h3{
    line-height: 6rem;
    background-image: url(../img/stars.svg);
    background-repeat: no-repeat;
    background-position-x: center;
}

























